# Owners for community repo
# For syntax, see https://help.github.com/articles/about-codeowners/

# This file controls who is asked for a review when PRs are submitted

# SIGS

sigs/rust/ @adamcrume
sigs/tensorboard/ @ewilderj @manivaradarajan @martinwicke
sigs/build/ @martinwicke @ewilderj @angersson @perfinion
sigs/addons/ @martinwicke @ewilderj @karmel @seanpmorgan @armando-fandango
sigs/networking/ @martinwicke @ewilderj @byronyi @jbedorf @poxvoculi
sigs/io/ @martinwicke @ewilderj @mrry @yongtang @dmitrievanthony
sigs/jvm/ @martinwicke @ewilderj @sjamesr @karllessard @tzolov
sigs/micro/ @martinwicke @ewilderj @petewarden
sigs/mlir/ @ewilderj @pkanwar23
sigs/swift/ @ewilderj @saeta @dynamicwebpaige
sigs/testing/ @ewilderj @dynamicwebpaige

# RFCs

rfcs/ @ewilderj @martinwicke @theadactyl @brijk7
