build --define=use_fast_cpp_protos=true
build --define=allow_oversize_protos=true

build --spawn_strategy=standalone
# build --strategy=Genrule=standalone
build -c opt

# Default paths for TF_SYSTEM_LIBS
build --define=PREFIX=/usr
build --define=LIBDIR=$(PREFIX)/lib
build --define=INCLUDEDIR=$(PREFIX)/include

# host build is useless
build --distinct_host_configuration=false

try-import %workspace%/.tf_plugin_configure.bazelrc
